/node_modules/
/.idea/
/dist/*
!/dist/jsoneditor.min.js
!/dist/jsoneditor.js.LICENSE.txt
/www/
/e2e/
/tests/codeceptjs/output
.vscode
.env
/src/*.css.js
/src/themes/*.css.js
/src/editors/*.css.js
/.vs
**/.DS_Store
/tests/docker-compose-local.yml